.contact {
  font-family: "Playfair Display", serif;
  font-size: 70px;
  margin-bottom: 60px;
  margin-top: 50px;
}

.T {
  font-family: "Playfair Display", serif;
  margin-top: 40px;
  font-weight: 600;
}
a {
  font-size: 16px;
  font-weight: 600;
}
.I {
  font-family: "Playfair Display", serif;
  margin-top: 40px;
  font-weight: 600;
}

.E {
  font-family: "Playfair Display", serif;
  margin-top: 40px;
  font-weight: 600;
}
